In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mglearn

In [29]:
df = pd.read_csv('elektronisk-rapportering-ers-2018-fangstmelding-dca-simple.csv', delimiter=';')
df.head()

,Melding ID,Meldingstidspunkt,Meldingsdato,Meldingsklokkeslett,Starttidspunkt,Startdato,Startklokkeslett,Startposisjon bredde,Startposisjon lengde,Hovedområde start (kode),...,Art - FDIR,Art - gruppe (kode),Art - gruppe,Rundvekt,Lengdegruppe (kode),Lengdegruppe,Bruttotonnasje 1969,Bruttotonnasje annen,Bredde,Fartøylengde
0,1497177,01.01.2018,01.01.2018,00:00,31.12.2017,31.12.2017,00:00,"-60,35","-46,133",NaN,...,Antarktisk krill,506.0,Antarktisk krill,706714.0,5.0,28 m og over,9432.0,NaN,"19,87","133,88"
1,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Hyse,202.0,Hyse,9594.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
2,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Torsk,201.0,Torsk,8510.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
3,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Blåkveite,301.0,Blåkveite,196.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
4,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Sei,203.0,Sei,134.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"

In [30]:
columns_to_remove = [
    "Melding ID", "Meldingstidspunkt", "Meldingsdato", "Meldingsklokkeslett",
    "Starttidspunkt", "Startposisjon bredde", "Startposisjon lengde",
    "Hovedområde start (kode)", "Stopptidspunkt", "Stoppdato", "Stoppklokkeslett",
    "Fangstår", "Stopposisjon bredde", "Stopposisjon lengde",
    "Hovedområde stopp (kode)", "Redskap FAO (kode)", "Redskap FAO",
    "Redskap FDIR (kode)", "Hovedart FAO (kode)", "Hovedart FAO",
    "Hovedart - FDIR (kode)", "Art FAO (kode)", "Art - FDIR (kode)",
    "Art - FDIR", "Art - gruppe (kode)", "Art - gruppe", "Lengdegruppe",
    "Bruttotonnasje 1969", "Bruttotonnasje annen"
]

# Remove the specified columns from the DataFrame
df = df.drop(columns=columns_to_remove)

# Display the DataFrame after removing the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305434 entries, 0 to 305433
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Startdato              305434 non-null  object
 1   Startklokkeslett       305434 non-null  object
 2   Hovedområde start      301310 non-null  object
 3   Lokasjon start (kode)  303433 non-null  float64
 4   Havdybde start         305434 non-null  int64
 5   Varighet               305434 non-null  int64
 6   Hovedområde stopp      301310 non-null  object
 7   Lokasjon stopp (kode)  303472 non-null  float64
 8   Havdybde stopp         305434 non-null  int64
 9   Trekkavstand           305410 non-null  float64
 10  Redskap FDIR           305246 non-null  object
 11  Art FAO                300452 non-null  object
 12  Rundvekt               300456 non-null  float64
 13  Lengdegruppe (kode)    304750 non-null  float64
 14  Bredde                 304750 non-null  object
 15  Fartøylengde           305434 non-null  object
dtypes: float64(5), int64(3), object(8)
memory usage: 37.3+ MB

In [41]:
columns_to_check = ['Bredde', 'Fartøylengde']  # Specify columns to check
df[columns_to_check] = df[columns_to_check].apply(pd.to_numeric, errors='coerce')

# Step 2: Identify invalid rows
invalid_rows = df[df[columns_to_check].isna().any(axis=1)]

# Step 3: Drop invalid rows
cleaned_df = df.dropna(subset=columns_to_check)

# Display information about the cleaned DataFrame
cleaned_df.head()

,Startdato,Startklokkeslett,Hovedområde start,Lokasjon start (kode),Havdybde start,Varighet,Hovedområde stopp,Lokasjon stopp (kode),Havdybde stopp,Trekkavstand,Redskap FDIR,Art FAO,Rundvekt,Lengdegruppe (kode),Bredde,Fartøylengde
130,01.01.2018,00:06,Nordkappbanken,11.0,-267,312,Nordkappbanken,11.0,-269,3689.0,Bunntrål,Sei,7305.0,5.0,15.0,65.0
131,01.01.2018,00:06,Nordkappbanken,11.0,-267,312,Nordkappbanken,11.0,-269,3689.0,Bunntrål,Torsk,2860.0,5.0,15.0,65.0
132,01.01.2018,00:06,Nordkappbanken,11.0,-267,312,Nordkappbanken,11.0,-269,3689.0,Bunntrål,Hyse,1210.0,5.0,15.0,65.0
133,01.01.2018,00:06,Nordkappbanken,11.0,-267,312,Nordkappbanken,11.0,-269,3689.0,Bunntrål,Uer (vanlig),330.0,5.0,15.0,65.0
134,01.01.2018,00:06,Nordkappbanken,11.0,-267,312,Nordkappbanken,11.0,-269,3689.0,Bunntrål,Snabeluer,45.0,5.0,15.0,65.0